{{#if notEstimated }}
  <form class="navbar-form navbar-left" role="estimate" {{action "estimate" on="submit"}}>
    <div class="form-group">
      <label> Your Estimation : </label>
      <select class="form-control" onchange={{action "estimate" value="target.value"}}>
        <option value=""></option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=5>5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{{ else }}
  <p> You estimated : {{ userEstimate }} </p>
{{/if}}

{{yield}}
