<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'home' class="navbar-brand"}}Planning Poker{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'projects' tagName="li"}}<a href>Projects</a>{{/link-to}}
        {{!-- {{#link-to 'sprints' tagName="li"}}<a href>Sprints</a>{{/link-to}} --}}
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="To Be Implemented">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      {{#if userName }}
        <div class="has-success col-sm-3 pull-right">
            <span class="help-block col-sm-7">Welcome {{userName}}!</span>
          <button {{action "logout"}} class="btn btn-danger col-sm-5"> Logout </button>
        </div>
      {{else}}
        <form class="navbar-form navbar-left" role="login" {{action "login" on="submit"}}>
          <div class="form-group">
            <label> Email : </label>
            {{input value=email name="email" type="text" placeholder="email@example.com" class="form-control"}}

          </div>
          <button type="submit" class="btn btn-default">Login</button>
          {{#if loginFailed}}
            <div class="has-error pull-right">
              <span class="help-block">Login Failed. Try again!!!</span>
            </div>
          {{/if}}
        </form>
      {{/if}}


      {{!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> --}}
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="body">
  {{#if doenLoginCheck }}
    {{outlet}}
  {{/if}}
</div>
