<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      (<span class="text-danger">Beta</span>)
      {{#link-to 'home' class="navbar-brand pull-right"}}Planning Poker{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'projects' tagName="li"}}<a href>Projects</a>{{/link-to}}
        {{!-- {{#link-to 'sprints' tagName="li"}}<a href>Sprints</a>{{/link-to}} --}}
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="To Be Implemented">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      {{#if userName }}
        <div class="has-success col-sm-2 pull-right">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><span class="help-block text-center">Welcome {{userName}}!</span></li>
                <li> {{#link-to "add-jira-details" }} Add JIRA credentials {{/link-to}} </li>

                <li role="separator" class="divider"></li>
                <li><button {{action "logout"}} class="center-block btn btn-danger"> Logout </button></li>

              </ul>
            </li>
          </ul>

        </div>
      {{else}}
        <form class="navbar-form navbar-left" role="login" {{action "login" on="submit"}}>
          <div class="form-group">
            <label> Email : </label>
            {{input value=email name="email" type="text" placeholder="email@example.com" class="form-control"}}

          </div>
          <button type="submit" class="btn btn-default">Login</button>
          {{#link-to "sign-up" class="btn btn-primary"}} Sign Up {{/link-to}}
          {{#if loginFailed}}
            <div class="has-error pull-right">
              <span class="help-block">Login Failed. Try again!!!</span>
            </div>
          {{/if}}
        </form>

      {{/if}}



    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="body">
  {{#if doenLoginCheck }}
    {{outlet}}
  {{/if}}
</div>
